/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
_ide_helper.php
/config/ide-helper.php
/config/debugbar.php
/resources/views/vendor
/storage
